@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
body{
  background-color: ghostwhite;
}
.loading {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* background: #1a0030; */
  background: linear-gradient(to right, hsl(185, 100%, 48%), hsla(32, 100%, 50%, 0.993));
  z-index: 1000;
  color: #fff;
}

.sideBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  background: linear-gradient(to right, hsl(34, 100%, 50%), hsl(108, 97%, 50%));
  /* background: #1f1a24; */
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.sideBar img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  background: #fff;
}

.sideBar h1 {
  position: relative;
  cursor: pointer;
  font-size: 1.6rem;
  margin-top: 0.5rem;
  font-family: "Style Script", cursive;
  letter-spacing: 3.4px;
  color: #fff;
}

.sideBar h1:hover {
  text-decoration: underline;
}

.sideBar h1:hover::before {
  display: block;
}

.sideBar h1:hover::after {
  display: block;
}

.sideBar h1::before {
  font-family: "Mukta", sans-serif;
  display: none;
  position: absolute;
  background: linear-gradient(to right, hsl(200, 95%, 7%), hsl(175, 83%, 14%));
  /* background: #383a48; */
  color: #fff;
  border-radius: 10px;
  top: 104%;
  content: "See you not for mind";
  font-size: 0.6rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  width: 7rem;
  text-align: center;
  padding: 0.4rem 0.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  z-index: 2;
}

.sideBar h1::after {
  display: none;
  position: absolute;
  top: 107%;
  content: "";
  width: 16px;
  height: 16px;
  bottom: 20px;
  background: linear-gradient(to right, hsl(201, 61%, 11%), hsl(175, 70%, 48%));
  /* background: #383a48; */
  -webkit-transform: rotate(45deg) translateY(1px) translateX(-50%);
          transform: rotate(45deg) translateY(1px) translateX(-50%);
  left: 50%;
}

.sideBar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  padding-right: 1.2rem;
  margin-top: 3.7rem;
}

.sideBar .links a {
  margin-bottom: 4px;
  display: block;
  width: 100%;
  text-align: right;
  color: rgb(37, 235, 152);
  padding: 0.5rem 1.7rem;
  background: linear-gradient(to right, hsl(200, 100%, 15%), hsl(160, 85%, 31%));
  /* background: #332f3a; */
  border-radius: 0 50px 50px 0;
  text-decoration: none;
  margin-left: -1.5rem;
  -webkit-transition: 200ms cubic-bezier(0.78, 1.11, 0.4, 1.49);
  transition: 200ms cubic-bezier(0.78, 1.11, 0.4, 1.49);
}

.sideBar .links a:hover {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.mainBody {
  margin-left: 20%;
  background: linear-gradient(to right, hsl(185, 90%, 74%), hsl(190, 88%, 68%));
  /* background: #222125; */
  min-height: 100vh;
}

.mainBody .headerNav {
  height: 100vh;
}

/* .mainBody .header {
  padding: 1rem 3rem;
  width: 100%;
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1300px;
  margin: auto;
} */

/* .mainBody .welcome {
  font-size: 2.5rem;
}

.mainBody .arifText .arif {
  color: red;
}

.mainBody .leftSide {
  width: 50%;
}

.mainBody .leftSide h1 {
  color: rgb(12, 42, 51);
  -webkit-transform-origin: left;
          transform-origin: left;
  font-size: 4rem;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}

.mainBody .leftSide p {
  color: #20062f;
  margin: 1rem 0;
}

/* .mainBody .leftSide .headBtnBlock {
  display: none;
} */

.mainBody .leftSide a {
  padding: 10px 30px;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff2626), to(#8c1111));
  background: linear-gradient(180deg, #ff2626 0%, #8c1111 100%);
  color: rgb(10, 16, 51);
  margin-top: 1rem;
  text-decoration: none;
  border-radius: 50px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.mainBody .leftSide a:hover {
  text-decoration: underline;
} */

.mainBody .righSide {
  padding-right: 2rem;
}

.mainBody .righSide img {
  max-width: 19rem;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  -webkit-transition: 700ms !important;
  transition: 700ms !important;
}

nav {
  display: none;
  width: 100%;
  /* background: #222125; */
  background: linear-gradient(to right, hsl(44, 100%, 50%), hsl(175, 100%, 50%));
  padding: 10px 2rem;
  z-index: 998;
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav .logo {
  width: 50px;
  position: relative;
  /* background: #fff; */
  background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(115, 97%, 47%));
  border-radius: 50%;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .links a {
  padding: 10px;
  margin: 3px;
  text-decoration: none;
  color: rgb(226, 44, 12);
  font-weight: bold;
  letter-spacing: 2px;
}

nav .links p {
  margin-top: 17px;
  display: none;
}

nav .fas {
  font-size: 1.4rem;
  color: rgb(12, 80, 87);
  display: none;
}

.navScroll {
  position: fixed;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
}

.contact {
  width: 100vw;
  height: 100%;
  padding: 4rem 5rem;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#33ebf130), to(#1864e71f));
  /* background: linear-gradient(to right, #32425030, #6d80a21f); */
  background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
  display: none;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.contact .content {
  position: relative;
  border-radius: 13px;
  width: 100%;
  height: 100%;
  /* background: url("../Image/contact-pic.jpg") linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));; */
  background: url("../Image/contact-pic.jpg") #1b1b1b;
  background-size: 45% 100%;
  background-repeat: no-repeat;
}

.contact .fa-times {
  font-size: 1.2rem;
  position: absolute;
  padding: 0.5rem;
  right: 1rem;
  top: 0.9rem;
  cursor: pointer;
  color: rgb(4, 12, 54);
}

.contact .form {
  margin-left: 45%;
  padding: 3rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: rgb(251, 71, 71);
}

.contact .form h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.contact .fiverr {
  margin: 1rem 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 300px;
  border: 4px solid #4e4e4e;
  /* background: #252525; */
  background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
  border-radius: 10px;
}

.contact .fiverr a {
  color: rgb(7, 25, 26);
  background: -webkit-gradient(linear, left top, left bottom, from(#1bbb14), to(#1e6922));
  background: linear-gradient(180deg, #1bbb14 0%, #1e6922 100%);
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.contact .fiverr p {
  margin-bottom: 1rem;
}

.contact .fiverr img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 4rem;
  border-radius: 50px;
  margin-top: 1.2rem;
  margin-top: 1.2rem;
  border: 1px solid #dadada;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 30px -11px #c5c5c5db;
          box-shadow: 0 0 30px -11px #c5c5c5db;
}

.contact .fiverr .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7px 0 1.5rem 0;
}

.contact .fiverr .stars i {
  color: gold;
}

.contact .fiverr .stars span {
  margin-left: 8px;
}

#about {
  max-width: 900px;
  margin: auto;
  padding: 3rem 1rem 1rem 2rem;
  min-height: 520px;
}

#about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .topContent {
  margin-bottom: 1rem;
}

#about .topContent h1 {
  color: rgb(20, 0, 0);
  text-align: center;
  font-size: 2rem;
}

#about .topContent p {
  color: #130b0b;
  margin-top: 0.6rem;
  text-align: center;
}

#about .aboutLeft {
  min-width: 40%;
  padding: 3.4rem;
}

#about .aboutLeft img {
  border-radius: 10px;
  width: 100%;
}

#about .aboutRight {
  min-width: 60%;
}

#about .aboutRight h3:not(span) {
  font-size: 1.6rem;
  color: #fff;
  text-transform: none;
  letter-spacing: 1.5px;
  margin-bottom: 0.9rem;
}

#about .aboutRight h3:not(span) span {
  color: red;
}

#about .aboutRight p {
  color: #e20000;
}

#about .aboutRight p span {
  color: rgba(255, 0, 0, 0.76);
}

#about .aboutRight a {
  display: inline-block;
  background: red;
  color: rgb(15, 2, 2);
  padding: 10px 20px;
  margin-top: 1.4rem;
  border-radius: 50px;
  text-decoration: none;
}

#skills {
  margin-top: 1rem;
}

#skills h1 {
  font-size: 2rem;
  color: rgb(22, 9, 58);
  text-align: center;
  margin-bottom: 10px;
}

#skills h1 + p {
  margin-bottom: 2rem;
  text-align: center;
  color: #1d0202;
}

#skills .subHead {
  color: #082e07;
  font-size: 1.5rem;
}

#skills .highlight {
  text-align: center;
  color: #ec0000;
  font-size: 1.4rem;
  margin-top: 1rem;
}

#skills .skillGrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 5.7rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#skills .skillGrp .skillCont {
  width: 140px;
  position: relative;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 2.3rem;
}

#skills .skillGrp .skillCont h2,
#skills .skillGrp .skillCont p {
  color: #250335;
  text-transform: uppercase;
}

#skills .skillGrp .skillCont h2 {
  font-size: 1.9rem;
}

#skills .skillGrp .skillCont div {
  position: absolute;
}

#skills .libraries {
  padding: 2rem 10rem;
}

#skills .nodeJS {
  font-size: 0.8rem;
  text-align: center;
}

#works {
  margin-top: 3rem;
}

#works h1 {
  color: rgb(24, 9, 9);
  font-size: 2rem;
  text-align: center;
}

#works p {
  text-align: center;
  margin-top: 1rem;
  padding: 0 2rem 4rem 2rem;
}

#works .gallary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#works span {
  margin: 2rem 1rem;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

#works span img {
  width: 100%;
  -webkit-transition: 120ms;
  transition: 120ms;
  height: 100%;
  cursor: pointer;
}

#works span img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.learn {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.learn .cont {
  width: 300px;
  text-align: left;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.learn .fab {
  color: red;
  font-size: 2rem;
  margin: auto;
}

.learn h1 {
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 6px;
}

.learn p {
  text-align: justify;
}

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* p {
  color: #060b47bc;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  /* background: #222125; */
  background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
}

.underline {
  position: relative;
}

.underline::before {
  position: absolute;
  content: "";
  width: 35%;
  height: 0.3rem;
  background: red;
  top: 90%;
}

.notice {
  position: fixed;
  z-index: 1000;
  color: rgb(56, 13, 1);
  font-weight: 200;
  display: none;
  /* background: #3d4354b8; */
  background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
  bottom: 1.4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 50px;
}

.up {
  position: fixed;
  bottom: 20px;
  right: 40px;
  cursor: pointer;
  z-index: 50;
}

.up .fa-arrow-up {
  display: none;
  border-radius: 5px;
  padding: 1rem;
  opacity: 0.6;
  background: #ff0000;
  -webkit-transition: 100ms;
  transition: 100ms;
  color: rgb(17, 11, 11);
}

.up .fa-arrow-up:hover {
  opacity: 0.8;
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 49;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
          background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
  /* background: rgba(0, 0, 0, 0.5); */
}

.preview img {
  width: 70%;
}

.preview i {
  color: rgb(226, 42, 42);
  position: fixed;
  right: 4rem;
  top: 4rem;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header .leftSide h1 {
    font-size: 3rem;
  }
  * p:not(.skillCont p) {
    font-size: 0.8rem;
  }
  #skills .libraries {
    padding: 2rem 5.7rem;
  }
}

@media (max-width: 768px) {
  * a {
    font-size: 0.8rem;
  }
  .preview .fa-times-circle {
    top: 8rem;
    right: 2rem;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainBody {
    margin-left: 0px;
  }
  .sideBar {
    display: none;
  }
  .header .leftSide h1 {
    font-size: 2rem;
  }
  .header .leftSide h1 .welcome {
    font-size: 1.5rem;
  }
  .righSide img {
    width: 11rem;
  }
  #skills .skillGrp .skillCont {
    margin: 1.5rem;
  }
  #works .gallary span {
    width: 220px;
    height: 135px;
  }
}

@media (max-width: 650px) {
  #about {
    padding: 1rem;
    min-height: 400px;
  }
  #about .aboutLeft {
    padding: 2rem;
  }
  nav .links {
    -webkit-transition: 200ms;
    transition: 200ms;
    z-index: 50;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    top: -120%;
    left: 0%;
    width: 100vw;
    height: 100%;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
    /* background: rgba(0, 0, 0, 0.4); */
  }
  nav .links a {
    font-size: 1.1rem;
  }
  nav .links p {
    display: inline-block;
  }
  nav .fas {
    display: inline-block;
  }
}

@media (max-width: 425px) {
  * {
    font-size: 85%;
  }
  .preview img {
    width: 86%;
  }
  .header {
    padding: 1rem;
  }
  .header .leftSide {
    width: 90%;
  }
  .header .leftSide h1 {
    font-size: 2.5rem;
  }
  .header .righSide {
    display: none;
  }
  #about br {
    display: none;
  }
  #about .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  #about .aboutLeft {
    text-align: center;
  }
  #about .aboutLeft img {
    width: 50%;
  }
  #about .aboutRight {
    text-align: center;
  }
  #about .aboutRight h3:not(span) {
    font-size: 1.3rem;
  }
  #skills .skillGrp {
    padding: 2rem 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #skills .skillGrp .skillCont {
    width: 115px;
    height: 150px;
  }
  #works .gallary {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px;
  }
  #works .gallary span {
    margin: 1rem 0;
    width: 185px;
    height: 105px;
  }
  .contact {
    padding: 3rem;
  }
  .contact .content {
    /* background: linear-gradient(to right, hsl(200, 69%, 5%), hsl(262, 97%, 12%)); */
    background: #1b1b1b;
  }
  .contact .form {
    margin: 0;
    padding: 1rem;
  }
  .contact .fiverr {
    margin: auto;
  }
}

@media (max-width: 375px) {
  #works .gallary span {
    width: 155px;
    height: 85px;
  }
}

@media (max-width: 320px) {
  #skills .skillGrp {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 320px) {
  #works .gallary {
    padding: 0 5px;
  }
  #works .gallary span {
    width: 145px;
  }
}
/*# sourceMappingURL=style.css.map */